<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crackdevelopers.goalnepal" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".Volley.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".splash.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutUS.AboutActivity"
            android:label="@string/aboutus" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Leagues.LeagueActivity"
            android:label="@string/title_activity_league" />
        <activity
            android:name=".MatchDetails.MatchActivity"
            android:label="@string/title_activity_match" />
        <activity
            android:name=".News.NewsDetailsActivity"
            android:label="@string/title_activity_news_details" />
        <activity
            android:name=".Miscallenous.liveTV.LiveTVActivity"
            android:label="@string/title_activity_tv" />
        <activity
            android:name=".Miscallenous.Radio.RadioActivity"
            android:label="@string/title_activity_radio"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Miscallenous.Profile.ProfileActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".Miscallenous.Gallery.AlbumActivity"
            android:label="@string/title_activity_gallery" />
        <activity
            android:name=".Miscallenous.Preferences.PreferenceActivity"
            android:label="@string/title_activity_preference" />
        <activity
            android:name=".Miscallenous.Gallery.PhotosActivity"
            android:label="@string/title_activity_photos" />
        <activity
            android:name=".Miscallenous.Gallery.PhotosPagerActivity"
            android:label="@string/title_activity_photos_pager" />
        <activity
            android:name=".Miscallenous.Ranking.RankingActivity"
            android:label="@string/title_activity_ranking" >
        </activity>
        <activity
            android:name=".Miscallenous.video.gallery.VideoGallery"
            android:label="@string/title_activity_video_gallery" >
        </activity>
    </application>

</manifest>
